body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.trip-container {
    width: 100vw;
    max-width: 100vw;
    background: white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 150px;
    background: #4caf50;
    color: white;
}
.header i {
    display: none;
}
.navbar {
    display: flex;
    gap: 40px;
}
.navbar a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.trip-details {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 60px 60px 20px 60px;
}
.trip-details h1{
    font-size:7rem;
    margin-left: 100px;
}
.trip{
    color: #4caf50;
}
.trip-details p{
    font-size: 1.7rem;
    margin-top:-60px;
    margin-left: 100px;
}
.trip-details-right img{
    width: 750px;
    height: auto;
    margin-top: -60px;
    margin-right: 50px;
}
.dates {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px 30px 30px;
}
.date {
    text-align: center;
    padding:15px 20px 15px 20px;
    cursor: pointer;
}
.date.active, .date:hover {
    background: #4caf50;
    color: white;
    border-radius: 50%;
}
.time-selection {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background: #f1f1f1;
}
.time {
    padding: 25px 35px;
    border-radius: 50px;
    cursor: pointer;
}
.time.active, .time:hover {
    background: #4caf50;
    color: white;
}
.boarding-info {
    background-image: url(https://i.pinimg.com/236x/7e/9d/9f/7e9d9f086fdba06609ffce2737ac86ba.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}
.boarding-info h2{
    font-size: 2.5rem;
}
.boarding-info p{
    font-size: 1.3rem;
    margin-top:-10px;
}
.ticket {
    background: #e8f5e9;
    padding: 60px;
    border-radius: 20px;
    margin: 40px;
}
.flight-info {
    text-align: center;
}
.locations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.locations h3{
    font-size: 1.8rem;
}
.locations p, .flight-number{
    font-size: 1.1rem;
    margin-top:-10px;
    color: #4caf50;
    font-weight: 800;
}
.plane-icon {
    font-size:10rem;
}
.flight-details {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.help-button {
    text-align: center;
    background: #4caf50;
    color: white;
    padding: 25px;
    margin: 60px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 1.2rem;
}
@media (max-width: 600px) {
    body {
        min-height: auto;
    }
    .header {
        padding: 10px 20px;
    }
    .header i {
        display: initial;
        font-size: 30px;
    }
    .navbar {
        display: none;
    }
    .trip-details {
        flex-direction: column;
        padding: 20px;
    }
    .trip-details h1 {
        font-size: 4rem;
        margin-left: 0;
        text-align: center;
    }
    .trip-details p {
        font-size: 1.2rem;
        margin-top: -30px;
        margin-left: 0;
        text-align: center;
    }
    .trip-details-right img {
        width: 120%;
        height: auto;
        margin-top: 0;
        margin-right: 0;
    }
    .trip-container {
        width: 100vw;
    }
    .header, .trip-details, .boarding-info, .ticket {
        padding: 40px;
    }
    .time-selection, .time {
        padding: 15px 25px;
    }
    .locations {
        flex-direction: column;
        text-align: center;
    }
}